{% extends "base.html" %}

{% block content %}
    <h1>{{ view.title }}</h1>
    Titre : {{ object.title }} <br/>
    Description : {{ object.description }} <br/>
    <br/>
    <a href="{% url "resources:badge_list" %}">Retour à la liste des badges</a>
{% endblock %}
