{% extends "base.html" %}

{% block content %}
    <h1>{{ view.title }}</h1>
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{ form.title.label }}
            </label>
            <div class="col-sm-10 col-md-4">
                {{ form.title }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{ form.description.label }}
            </label>
            <div class="col-sm-10 col-md-4">
                {{ form.description }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-md-6">
                <button class="btn btn-primary pull-right" type="submit">
                    <i class="fa fa-check"></i> Enregistrer
                </button>
            </div>
        </div>
    </form>
{% endblock %}