{% extends "base.html" %}

{% block content %}
    <h1>{{ view.title }}</h1>
    <p>titre : {{ object.title }}</p>
    <p>nb vues : {{ object.views }}</p>
    <p>image : {{ object.image }}</p>
    {% if object.image %}
        <img src="{{ MEDIA_URL }}{{ object.image }}"/>
    {% endif %}
{% endblock %}