{% extends "base.html" %}
{% load orderlist %}

{% block content %}
    <h1>{{ view.title }}</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    # {% orderlist "resources:model3d_list_ordered" "id" %}
                </th>
                <th>
                    Titre {% orderlist "resources:model3d_list_ordered" "title" %}
                </th>
                <th>
                    Créateur du modèle
                </th>
                <th>
                    Nombre de vues {% orderlist "resources:model3d_list_ordered" "views" %}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.pk }}</td>
                    <td>
                        <a href="{{ obj.get_absolute_url }}" title="Consulter le modèle 3D">
                            {{ obj.title }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url "users:user_detail" obj.user.pk %}" title="Consulter l'utilisateur">
                            {{ obj.user }}
                        </a>
                    </td>
                    <td>
                        {{ obj.views }}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="{% url "resources:model3d_detail" obj.pk %}" title="Consulter">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <a href="{% url "resources:model3d_creation" %}">Créer un modèle 3D</a>
{% endblock %}