{% extends "base.html" %}

{% block content %}
    <h1>Bienvenue sur l'exercice d'entretien Sketchfab !</h1>
    <p>
        <ul>
            <li><a href="{% url "resources:model3d_list" %}">Modèles 3D</a></li>
            <li><a href="{% url "resources:badge_list" %}">Badges</a></li>
            <li><a href="{% url "users:user_list" %}">Utilisateurs</a></li>
        </ul>
    </p>
{% endblock %}