{% extends "base.html" %}

{% block content %}
    <h1>{{ view.title }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Username
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.pk }}</td>
                    <td>
                        <a href="{{ obj.get_absolute_url }}" title="Consulter l'utilisateur">
                            {{ obj.username }}
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="{% url "users:user_detail" obj.pk %}" title="Consulter">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
{% endblock %}