{% extends "base.html" %}

{% block content %}
    <h1>{{ view.title }}</h1>
    <p>{{ object.username }}</p>
    <p>
        Liste des badges de l'utilisateur :
        <ul>
            {% for badge in object.badges.all %}
                <li>{{ badge }}</li>
            {% empty %}
                L'utilisateur n'a pas encore obtenu de badge.
            {% endfor %}
        </ul>
    </p>
{% endblock %}